@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

header {
	width: 100%;
}

#button-menu {
	display: none;
}

header label {  /*Icono del menu responsive*/
	position:relative;
	margin-left: auto;
	top: 10%;
	display: none;
	width: 30px;
	height: 30px;
	padding: 15px;
}

header label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.2);
}

header a img {  /*Imagen del logo*/
	width: 40px;
	height: 50px;
	position:absolute;
	left: 7%;
	top: 3px;
	transition: 0.4s;
	z-index: 100;
}

header a img:hover {
	transform: scale(1.1);
}

.navegacion {
	width: 100%;
	background: white;
	position: relative;
}

.menu ul {
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	z-index: 1000;
}

.menu ul li a:hover {
	color: #b40c14;
}

.menu li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: black;
	font-size: calc(0.5em + 1vw);
	font-weight: bold;
}

div > nav > ul > li:hover div {
	display: table;
	z-index: 1000;
}

/*Submenu*/
div nav ul li div {
	width: 100%;
	position: absolute;
	left: 0;
	top: 100%;
	background: white;
	box-sizing: border-box;
	display: none;
}

div nav ul li div ul {
	display:inline-flex;
	position: relative;
	height: 250px;
}

div nav ul li div ul div {
	float: left;
	position:relative;
	height: 100%;
	padding: 10px 5px;
}

/*Contenido del Submenu*/
.left-content {
	width: 55%;
	top: 10px;
	left: 10%;
	text-align: left;
}

.Titulo {
	position: absolute;
	width: 80%;
	font-size: 95%;
	font-weight: bold;
	padding-top: 10px;
	margin-left: 10%;
}

.left-content p {
	display:inline-flex;
	margin-right: 26.5%;
}

.button-submenu {
	font-family: Arial,sans-serif;
	font-weight: 600;
	font-size: 75%;
	background-color: #980407; /*Vinotinto Oscuro*/
	text-align: left;
	border-radius: 5px;
	border: 1px solid #980407;
	padding: 10px 10px;
	color: white;
	position: absolute;
	margin-left: 7%;
	top: 140px;
	transition-duration: 0.3s;
}

.button-submenu:hover {
	background-color: #b40c14; /*Vinotinto Claro*/
	color: white;
}

.right-content {
	width: 40%;
	top: 0px;
	left: 7%;
	text-align: left;
}

.right-content li a {
	padding: 5px;
	top: 20px;
	font-weight: 400;
	text-decoration:underline;
	position: relative;
	text-align:left;
	margin-left: 10px;
	color: #0052cc;
}
.right-content li > a:hover {
	color: #b40c14;
}

/*Contenido de la pagina principal*/
.page-content {
	width: 100%;
	height: 100%;
	max-height: 650px;
	background-color:#eee;
	padding: 5%;
	list-style: none;
}

.backgroud-image { /*Imagen principal*/
	width: 90%;
	height: 90%;
	border-radius: 10px;
	max-height: 500px;
	position: absolute;
	background-image:url("raspberrypi.jpg");
	background-repeat:repeat;
	background-size: 70% 100%;
	display: flex;
	flex-direction: column;
}

.backgroud-image h2 { /*Titulo principal*/
	position: absolute;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: calc(1.7em + 1vw);
	color: white;
	width: 70%;
	text-align: center;
	bottom: 30%;
}

.backgroud-image h3 { /*Texto secundario*/
	position: absolute;
	font-family: Arial,sans-serif;
	font-weight: normal;
	width: 70%;
	text-align: center;
	font-size: calc(0.8em + 1vw);
	color: white;
	bottom: 23%;
}

.backgroud-image li { /*Boton Saber mas*/
	width: 55%;
	text-align: center;
}

.button-Saber-mas { /*Boton Saber mas*/
	position: absolute;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 120%;
	background-color: #980407; /*Vinotinto oscuro*/
	border-radius: 5px;
	padding: 10px 30px;
	color: white;
 	transition-duration: 0.4s;
	border: 1px solid #980407;
	bottom: 10%;
}

.button-Saber-mas:hover {
  	background-color: #b40c14; /*Vinotinto claro*/
  	color: white;
}

/*Botones de la pagina principal*/
.right-buttons button {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: calc(0.4em + 1vw);
	text-align: left;
	color: #0044ab;
	padding-left: 100px;
	padding-right: 28px;
	border-radius: 5px;
	border: 0px solid white;
	position: absolute;
	right: 5%;
	width: 28%;
}

.right-buttons button:hover {
	color: #b40c14;
}

.button-one {
	height: 23%;
	top: 9%;
	background-color: white;
	background-image:url("button1.jpg");
	background-repeat: no-repeat;
	background-size: 110px 110px;
	background-position: -20px 5px;
}

.button-two {
	height: 23%;
	top: 36%;
	background-color: white;
	background-image:url("button2.jpg");
	background-repeat: no-repeat;
	background-size: 90px 115px;
	background-position: -2px 0px;
	}

.button-three {
	height: 27%;
	top: 64%;
	background-color: white;
	background-image:url("button3.jpg");
	background-repeat: no-repeat;
	background-size: 95px 135px;
	background-position: -5px 0px
}

/*SECCIONES DEL MENU*/
.content-sections {
	margin: 40px 40px;
	height: 500px;
	border: 2px;
	border-radius: 20px;
	background-color: #ecdddd;
}

/*Hardware*/
.products-section {
	margin: auto;
	max-width: 1200px;
	padding: 20px 60px;
}

.products-section h1 {
	font-family: Rubik,sans-serif;
	font-weight: 900;
	font-size: calc(1.5em + 1vw);
	color: black;
	text-align: left;
	padding: 35px 0px;
}

/*Producto destacado*/
.products-section div {
	width: 100%;
}

.featured-product {
	text-decoration: none;
	color: black;
	width: 100%;
}

.featured-product_content {
	display: inline-flex;
	border-radius: 10px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
	transition: all 0.3s;
}

.featured-product_content:hover {
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
	transform: scale(1.02);
}

.featured-product_content img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.featured_product_card h1 p a button{
	height: 100%;
}

.featured_product_card h1 {
	padding: 15px 25px;
	font-size: calc(1.3em + 1vw);
}

.featured_product_card p {
	margin-top: 10px;
	padding: 10px 30px;
	font-size: calc(0.4em + 1vw);
	margin-bottom: 5%;
}

.featured_product_card a button {
	background-color: #3ACB49;
	border-radius: 8px;
	padding: 8px 15px;
	color: white;
	font-family: sans-serif;
	font-weight: 800;
	font-size: calc(0.5em + 1vw);
	border: 2px solid #3ACB49; /* Green */
 	transition-duration: 0.4s;
	margin-left: 75%;
	margin-bottom: 5%;
}

.featured_product_card a button:hover {
  background-color: #61E96F; /* Green */
	border: 2px solid #61E96F;
	cursor: pointer;
}

/*Todos los productos*/
.all-products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2.5rem;
	margin-top: 20px;
	margin-bottom: 40px;
}

.product {
	text-decoration: none;
	color: black;
	height: 100%;
}

.product_content {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
	transition: all 0.3s;
}
.product_content:hover {
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
	transform: scale(1.02);
}

.product_content img {
	width: 100%;
	height: 50%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.product_card h2 p a button {
	height: 100%;
}

.product_card h2 {
	padding: 10px 30px;
	font-size: calc(1em + 1vw);
}

.product_card p {
	padding: 5px 30px;
	font-size: calc(0.5em + 1vw);
}

.product_card button {
	background-color: #3ACB49;
	border-radius: 8px;
	padding: 8px 15px;
	color: white;
	font-family: sans-serif;
	font-weight: 800;
	font-size: calc(0.5em + 1vw);
	border: 2px solid #3ACB49; /* Green */
 	transition-duration: 0.4s;
	margin-left: 73%;
	margin-bottom: 3%;
	margin-top: 2%;
}

.product_card button:hover {
  	background-color: #61E96F; /* Green */
		border: 2px solid #61E96F;
		cursor: pointer;
}

/*Responsive*/

@media (max-width:600px) {
	.products-section {
		padding: 10px 25px;
		justify-content: center;
		width: 90%;
	}

	.featured-product_content {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 40px;
		}

	.featured-product_content img {
		border-radius: 0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px
		}

	.featured_product_card h1 p a button{
		padding: 20px;
		}

	.featured_product_card p {;
		font-size: calc(0.8em + 1vw);
		}

	.featured_product_card a button {
		font-size: calc(0.6em + 1vw);
		margin-left: 65%;
		margin-bottom: 5%;
		}

	.all-products {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		}

		.product_content img {
			height: 40%;
		}

		.product_card h2 {
			padding: 10px 25px;
			font-size: calc(1.2em + 1vw);
		}

		.product_card p {
			padding-top: 10px;
			padding-bottom: 5px;
			padding: 0px 25px;
			font-size: calc(0.8em + 1vw);
		}

		.product_card button {
			font-size: calc(0.6em + 1vw);
			margin-left: 65%;
			margin-bottom: 3%;
		}

}

/*Software*/
.software-content h1 {
	font-family: Roboto,sans-serif;
	font-weight: 900;
	font-size: 200%;
	color: #9e1112;
	text-align: center;
}

/*Books*/
.books-content h1 {
	font-family: Roboto,sans-serif;
	font-weight: 900;
	font-size: 200%;
	color: #b40c14;
	text-align: center;
}

/*Learn*/
.learn-content h1 {
	font-family: Roboto,sans-serif;
	font-weight: 900;
	font-size: 200%;
	color: #b40c14;
	text-align: center;
}

/*Teach*/
.teach-content h1 {
	font-family: Roboto,sans-serif;
	font-weight: 900;
	font-size: 200%;
	color: #b40c14;
	text-align: center;
}

/*About us*/
.about-us-content h1 {
	font-family: Roboto,sans-serif;
	font-weight: 900;
	font-size: 200%;
	color: #b40c14;
	text-align: center;
}

/*FOOTER*/

footer {
	width: 100%;
	padding: 20px 10px;
	background-color: rgb(245, 246, 249); /*gris claro*/
}

.container__footer {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 60px;
	padding: 25px 80px;
}

.box__footer {
	display: flex;
	flex-direction: column;
}

.box__footer h3 {
	margin-bottom: 10px;
	color: #343434;
	font-size: calc(0.4em + 1vw);
}

.box__footer p {
	margin-bottom: 5px;
	font-size: calc(0.3em + 1vw);
}

.box__footer a {
	margin-top: 10px;
	color: #343434;
	text-decoration: none;
}

.box__footer a:hover {
	text-decoration: underline;
}

.box__footer .our-social-media {
	justify-content: center;
	width: 300px;
	margin-bottom: 5px;
}

.box__footer .our-social-media a {
	display: inline-block;
	padding: 0px 10px;
	margin-left: 10px;
	margin-bottom: 0px;
	text-decoration: none;
	transition: all 0.2s;
	font-size: calc(1.7em + 1vw)
}

.box__footer .our-social-media a:hover {
	transform: scale(1.4);
}

/*Iconos de RS*/
.fa-facebook-f {
	color: #4267B2;
}

.fa-instagram {
	color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-twitter {
	color: #1DA1F2;
}

.fa-youtube {
	color: #FF0000;
}

.box__footer hr {
	border: none;
	height: 2.7px;
	background-color: black;
	width: 100%;
	margin: 10px 0px;
}

.box__footer .logo img {
	width: 70%;
	height: 70%;
	margin: 0% 15%;
}

.box__copyright {
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 0px 40px;
}

.box__copyright p {
	font-size: calc(0.4em + 1vw);
	margin-top: 10px;
}

.box__copyright hr {
	border: none;
	height: 1px;
	background-color: black;
}

/****************************************************************************/
/*Responsive*/
@media (max-width:910px) {
	*{
		margin: 0;
		padding: 0;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

		header label {
			display: block;
		}

		header a img {  /*Imagen del logo*/
			width: 35px;
			height: 35px
			padding: 2px;
			left: 5px;
		}

		.menu {
			position: absolute;
			background: white;
			width: 100%;
			height: 700px;
			margin-left: -100%;
			transition: all 0.5s;
			z-index: 1000;
		}

		.menu ul {
			flex-direction: column;
			margin: 0;
		}

		.menu > ul > li:hover div {
			display: none;
		}

		.menu li a {
			font-size: calc(1em + 1vw);
		}

		#button-menu:checked ~ .navegacion .menu {
			margin-left: 0px;
		}

		.page-content {
			height: 95%;
			padding: 5%;
			list-style: none;
		}

		.backgroud-image { /*Imagen principal*/
			position: absolute;
			background-repeat:no-repeat;
			background-size: 100% 100%;
		}

		.backgroud-image h2 {
			font-size: calc(1.8em + 1vw);
			position: absolute;
			width: 100%;
			text-align: center;
			bottom: 25%
		}

		.backgroud-image h3 {
			position: absolute;
			font-size: calc(1em + 1vw);
			width: 100%;
			text-align: center;
			bottom: 15%;
		}

		.backgroud-image li { /*Boton Saber mas*/
			width: 50%;
			text-align: center;
		}

		.button-Saber-mas {
			position: absolute;
			bottom: 5%;
		}

		.right-buttons button {
			display: none;
		}

		footer {
			width: 95%;
		}

		.container__footer {
			justify-content: center;
			width: 90%;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 50px;
			padding: 30px;
			margin: auto;
		}

		.box__footer h3 {
			font-size: calc(0.7em + 1vw);
		}

		.box__footer p {
			font-size: calc(0.6em + 1vw);
		}

		.box__footer .our-social-media {
			width: 100px;
			display: inline-flex;
			margin: auto;
		}

		.box__footer .our-social-media a {
			padding: 5px 5px;
			margin-left: 5px;
		}

		.box__footer .our-social-media a img { /*Iconos de RS*/
			width: 30px;
			height: 25px;
		}

		.box__footer hr {
			height: 2px;
			width: calc(12em + 1vw);
		}

		.box__footer .logo img {
			width: 80%;
			height: 50%;
			margin: 5% 12%;
		}

		.box__copyright p {
			font-size: calc(0.7em + 1vw);
		}

		.box__copyright hr {
			height: 1px;
		}

}
/****************************************************************************/
