*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body: {
	background-color: #eee;
}

/*Menu desplegable*/
header {
	height: 70px;
	width: 100%;
	max-width:1000px;
	margin: auto;
}

nav {
	background: white;
	margin-top: 10px;
	margin-left: 0px;
	position: relative;
	background-image: url("logo-raspberry.png");
	background-repeat: no-repeat;
	background-size: 35px 45px;
	background-position: 70px 10px;
}

nav ul {
	list-style: none;
	padding-top: 5px;
	margin-left: 115px;
	overflow: hidden;
}

nav > ul > li {
	float: left;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 125%;
	padding: 5px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-family: Arial,sans-serif;
	font-weight: bold;
	display: block;
	padding: 10px 10px;
}

nav > ul > li > a:hover {
	color: #ce3d57;
}

nav > ul > li:hover div {
	display: table;
	z-index: 1000;
}
/*Submenu*/
nav ul li div {
	width: 105%;
	max-width: 1000px;
	position: absolute;
	left: 0;
	top: 100%;
	background: white;
	box-sizing: border-box;
	display: none;
}

nav ul li div ul {
	display:inline-table;
	position: relative;
}

nav ul li div ul .Titulo {
	font-size: 80%;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 30px;
	width: 60%;
	text-align: left;
}

nav ul li div ul p {
	display: inline-flex;
}

.button-submenu {
	font-family: Arial,sans-serif;
	font-weight: 600;
	font-size: 70%;
	background-color: blue;
	text-align: left;
	border-radius: 5px;
	border: 1px solid #0044ab; /* Blue */
	padding: 10px 10px;
	color: white;
	position: relative;
	margin-left: 20px;
}

nav ul li div ul li a {
	font-weight: 400;
	text-decoration:underline;
	position: relative;
	text-align:left;
	left: 60%;
	color: #0052cc;
}
nav > ul > li > div > ul > li > a:hover {
	color: #ce3d57;
}
/*Contenido*/
.page-content {
	width: 100%;
	height: 100%; /*Pendiente por editar*/
	background-color: #eee;
}

.base {
	width: 910px;
	height: 460px;
	top: 105px;
	left: 50px;
	position: absolute;
	background-color: #ce3d57;
	background-image:url("teclado-rpi400.png");
	background-repeat: no-repeat;
	background-position: -20% 10%;
	background-size: 75% 110%;
	display: flex;
	flex-direction: column;
}

.base h2 {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 230%;
	color: white;
	margin-left: 140px;
	margin-top: 225px
}

.base h3 {
	font-family: Arial,sans-serif;
	font-weight: normal;
	font-size: 120%;
	color: white;
	margin-left: 40px;
	margin-top: 15px;
}

.button-Saber-mas {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 120%;
	background-color: blue;
	text-align: center;
	border-radius: 5px;
	padding: 10px 30px;
	color: white;
	border: 2px solid #0044ab; /* Blue */
 	transition-duration: 0.4s;
	display: inline-block;
	position: absolute;
	left: 23%;
	bottom: 18%
}

.button-Saber-mas:hover {
  	background-color: #0044ab; /* Blue */
  	color: white;
}

/*Optimizar estos 3 botones con las mismas propiedades menos el background*/
.button-one {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	border-radius: 5px;
	padding-left: 100px;
	padding-right: 28px;
	color: #0044ab;
	border: 0px solid white;
	position: absolute;
	right: 5%;
	top: 9%;
	width: 28%;
	height: 23%;
	background-color: white;
	background-image:url("buttonONE.jpg");
	background-repeat: no-repeat;
	background-size: 110px 105px;
	background-position: -20px 5px;
}

.button-one:hover {
  	color: #ce3d57
	}

.button-two {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	color: #0044ab;
	padding-left: 100px;
	padding-right: 30px;
	border-radius: 5px;
	border: 0px solid white;
	position: absolute;
	right: 5%;
	top: 36%;
	width: 28%;
	height: 23%;
	background-color: white;
	background-image:url("button2.jpg");
	background-repeat: no-repeat;
	background-size: 90px 106px;
	background-position: -2px 0px;
	}

.button-two:hover {
	color: #ce3d57
}

.button-three {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	border-radius: 5px;
	padding-left: 100px;
	padding-right: 28px;
	color: #0044ab;
	border: 0px solid white;
	position: absolute;
	right: 5%;
	top: 64%;
	width: 28%;
	height: 27%;
	background-color: white;
	background-image:url("button3.jpg");
	background-repeat: no-repeat;
	background-size: 95px 130px;
	background-position: -5px 0px
}

.button-three:hover {
	color: #ce3d57
	}

/*Secciones*/

.content-sections {
	margin: 50px 50px;
	height: 500px;
	background-color: white;
	border: 2px;
	border-radius: 20px;
}

/*Hardware*/
.content-sections h1 {
	font-family: Roboto,sans-serif;
	font-weight: 600;
	color: black;
}

/*Software*/
.content-sections > .software-content > h1 {
	font-family: Roboto,sans-serif;
	font-weight: 900;
	font-size: 450%;
	color: #ce3d57;
}
